---
import Layout from '../../layout/LayoutBlog.astro';
import TableOfContents from '../../components/TableOfContents.astro';
import { getEntry, render } from 'astro:content';

const { slug } = Astro.params;

const entry = await getEntry('blog', slug);
if (!entry) {
  // Handle Error, for example:
  throw new Error('Could not find blog post 1');
}
const { Content, headings } = await render(entry);
---

<Layout title={slug}>
  <TableOfContents headings={headings} />
  <article class="article-container">
    <div class="article-content">
      <Content />
    </div>
  </article>
</Layout>
